<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaaef.molly.system.mapper.CommMenuMapper">

    <resultMap id="BaseResultMap" type="CommMenu">
        <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="TINYINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="TINYINT"/>
        <result property="visible" column="visible" jdbcType="TINYINT"/>
        <result property="target" column="target" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateUser" column="last_update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,parent_id,
        perms,component,icon,sort,
        `path`,menu_type,`visible`,
        target,create_time,create_user,
        last_update_time,last_update_user
    </sql>

</mapper>
