<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaaef.molly.corems.mapper.CmsProjectMapper">


    <resultMap id="tenantAndProjectMap" type="com.xaaef.molly.corems.entity.TenantAndProject">
        <id property="projectId" column="project_id"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>


    <select id="selectListByTenantDbName" resultMap="tenantAndProjectMap">
        <foreach collection="tenantDbNameList" item="item" separator="union">
            select project_id, #{item} AS tenant_id from ${item}.cms_project
        </foreach>
    </select>


</mapper>
