<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaaef.molly.system.mapper.ChinaAreaMapper">

    <resultMap id="BaseResultMap" type="ChinaArea">
        <id property="areaCode" column="area_code" jdbcType="BIGINT"/>
        <result property="level" column="level" jdbcType="TINYINT"/>
        <result property="parentCode" column="parent_code" jdbcType="BIGINT"/>
        <result property="zipCode" column="zip_code" jdbcType="OTHER"/>
        <result property="cityCode" column="city_code" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="shortName" column="short_name" jdbcType="VARCHAR"/>
        <result property="mergerName" column="merger_name" jdbcType="VARCHAR"/>
        <result property="pinyin" column="pinyin" jdbcType="VARCHAR"/>
        <result property="lng" column="lng" jdbcType="DECIMAL"/>
        <result property="lat" column="lat" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="selectAreaFullName" parameterType="long" resultType="string">
        SELECT CONCAT(IFNULL(p.`name`, ''), ',', IFNULL(c.`name`, ''), ',', IFNULL(a.`name`, '')) AS area_name
        FROM comm_china_area AS a
                 LEFT JOIN comm_china_area AS c ON c.area_code = a.parent_code
                 LEFT JOIN comm_china_area AS p ON p.area_code = c.parent_code
        WHERE a.area_code = #{areaCode}
    </select>


</mapper>
