<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaaef.molly.perms.mapper.PmsRoleMapper">

    <resultMap id="BaseResultMap" type="PmsRole">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="sort" column="sort"/>
        <result property="description" column="description"/>
        <result property="dataScope" column="data_scope"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="lastUpdateTime" column="last_update_time"/>
        <result property="lastUpdateUser" column="last_update_user"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id
        ,role_name,
        sort,`description`,create_time,
        create_user,last_update_time,last_update_user
    </sql>


    <insert id="insertByMenus">
        insert into pms_role_menu (role_id, menu_id) values
        <foreach collection='menus' item='item' index='index' separator=','>
            (#{roleId},#{item})
        </foreach>
    </insert>


    <resultMap id="SysRoleProxyResultMap" type="PmsRoleProxy">
        <id property="roleId" column="role_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleName" column="role_name"/>
        <result property="sort" column="sort"/>
        <result property="description" column="description"/>
        <result property="dataScope" column="data_scope"/>
    </resultMap>


    <select id="selectListByUserIds" resultMap="SysRoleProxyResultMap">
        SELECT r1.role_id, r1.role_name, r1.description, r1.data_scope, r2.user_id
        FROM pms_role AS r1
        RIGHT JOIN pms_user_role AS r2 ON r2.role_id = r1.role_id
        WHERE r2.user_id IN
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectListByUserId" resultMap="SysRoleProxyResultMap">
        SELECT r1.role_id, r1.role_name, r1.description
        FROM pms_role AS r1
                 RIGHT JOIN pms_user_role AS r2 ON r2.role_id = r1.role_id
        WHERE r2.user_id = #{userId}
    </select>


    <select id="selectMenuIdByRoleIds" resultType="java.lang.Long">
        select menu_id from pms_role_menu where role_id IN
        <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectDeptIdByRoleIds" resultType="com.xaaef.molly.common.domain.LinkedTarget">
        SELECT dept_id AS targetId, role_id AS sourceId FROM pms_role_dept where role_id IN
        <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <insert id="insertByDepts">
        insert into pms_role_dept (role_id, dept_id) values
        <foreach collection='deptIds' item='item' index='index' separator=','>
            (#{roleId},#{item})
        </foreach>
    </insert>


    <sql id="SelectRoleVo">
        select distinct r.role_id,
                        r.role_name,
                        r.sort,
                        r.description,
                        r.data_scope,
                        r.create_time,
                        r.create_user,
                        r.last_update_time,
                        r.last_update_user
        from pms_role r
                 left join pms_user_role ur on ur.role_id = r.role_id
                 left join pms_user u on u.user_id = ur.user_id
                 left join pms_dept d on u.dept_id = d.dept_id
    </sql>


    <sql id="DataScopeWhere">
        <where>
            <if test="p.roleId != null and p.roleId != 0">
                AND r.role_id = #{p.roleId}
            </if>
            <if test="p.description != null and p.description != ''">
                AND CONCAT(r.`role_name`,r.description) LIKE CONCAT('%',#{p.description},'%')
            </if>
            <!-- 数据范围过滤 -->
            ${p.params.dataScope}
        </where>
    </sql>


    <select id="selectRoleList" resultMap="BaseResultMap">
        <include refid="SelectRoleVo"/>
        <include refid="DataScopeWhere"/>
        order by r.sort,r.create_time
    </select>


    <select id="selectRolePage" resultMap="BaseResultMap">
        <include refid="SelectRoleVo"/>
        <include refid="DataScopeWhere"/>
        order by r.sort,r.create_time
    </select>


</mapper>
